---
import Layout from "../layouts/Layout.astro"
---


<Layout>
    <div class="flex justify-center items-center h-screen">
        <p>custom 404 page</p>
    </div>
</Layout>


<style>

    .container {
        /* border: solid 2px red; */

        width: 100%;
        height: calc(100vh - var(--header-height));

        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

